:root{
    --brown: #641318ff;
    --white: #FDD3B7ff;
    --coral: #F78356ff;
}

body{
    background-image: url('src/Moon_ISS.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: black;
    transition: all 0.4s ease;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.nav-pic{
    width: 10vw;
    height: 10vw;
    border:solid 5px var(--coral);
    border-radius: 100%;
    background-color: black;
    padding: 0;
}

button {
    width: 9vw;
    height: 4vw;
    color: var(--white);
    border:solid 4px var(--white);
    border-radius: 9%;
    background-color: transparent;
    font-size: 2vw;
    font-weight: bold;
    margin: 0 6px;
    min-width: 70px;
    min-height: 30px;
}

.content {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100%;
}