:root{
    --dark: #3B0306FF;
    --brown: #641318ff;
    --white: #FDD3B7ff;
    --coral: #F78356ff;
    --auburn: #ab1823;
}

body{
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("src/MarsBG.jpg");
    height: 100vh; /* Ensure the background covers the entire viewport */
    background-color: #f78356;
    font-family: "Futura", sans-serif;
    transition: all 0.4s ease;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    transition: all 0.4s ease;
}

.nav-pic{
    width: 75px;
    height: 75px;
    border:solid 4px var(--coral);
    border-radius: 100%;
    background-color: black;
    font-size: large;
    padding: 6px;
    transition: all 0.4s ease;
}
