button:hover {
    background-color: rgba(99, 108, 118, 0.64);
    transition: all 0.4s ease;
}

.nav-pic{
    border:solid 4px var(--white);
    background-color: transparent;
    transition: all 3s ease;
}

.image-container{
    border: var(--white) solid 5px;
}